@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020000;
  --foreground: #dbdbdb;
  --foreground-2nd: #a7a7a7;
  --highlighter: #001b3a;
  --highlighter-2nd: #229bff;
  --highlight: #ff3b3f;
  --highlight-2nd: #00080e;
  --font-barlow: 'Barlow', sans-serif;
  --font-barlow-condensed: 'Barlow Condensed', sans-serif;
  --font-sour-gummy: 'Sour Gummy', sans-serif;
}

body {
  scroll-behavior: smooth !important;
  color: var(--foreground);
  background: linear-gradient(100deg, var(--background), var(--highlight-2nd)) no-repeat fixed;
  font-family: var(--font-barlow);
  overflow: overlay;
}

.dbg {
  border: 1px solid red;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--highlight-2nd);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F13751;
    width: 10px;
    border-radius: 10px 0 0 10px;  
}

/* Handle */
.hidden-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    width: 0px;
    border-radius: 10px 0 0 10px;  
}

.perspective {
  perspective: 1000px;
}

.input {
  border: 2px solid transparent;
  width: 100%;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 0.375rem;
  transition: border 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.download-cv-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: var(--foreground);
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.download-cv-button::before,
.download-cv-button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--foreground-2nd);
  transition: all .15s ease;
}

.download-cv-button::before {
  top: 0;
  border-bottom-width: 0;
}

.download-cv-button::after {
  bottom: 0;
  border-top-width: 0;
}

.download-cv-button:active,
.download-cv-button:focus {
  outline: none;
}

.download-cv-button:active::before,
.download-cv-button:active::after {
  right: 3px;
  left: 3px;
}

.download-cv-button:active::before {
  top: 3px;
}

.download-cv-button:active::after {
  bottom: 3px;
}

.download-cv-button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: var(--highlight-2nd);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.download-cv-button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--foreground);
}

.download-cv-button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--foreground);
  transition: all .2s ease;
}

.download-cv-button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-image: linear-gradient(to bottom right, var(--highlighter), var(--highlighter));
  transform: skew(-15deg);
  transition: all .2s ease;
}

.download-cv-button_text {
  position: relative;
}

.download-cv-button:hover {
  color: #0f1923;
}

.download-cv-button:hover .download-cv-button_sl {
  width: calc(100% + 15px);
}

.download-cv-button:hover .download-cv-button_lg::after {
  background-color: var(--background);
}

.link {
  color: var(--foreground-2nd);
  position: relative;
  transition: width 0.3s ease;
}

.link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--highlighter-2nd);
  transition: width 0.3s ease;
}