@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #efefef;
  --foreground: #000000;
  --foreground-2nd: #727272;
  --highlighter: #caebf2;
  --highlight: #ff3b3f;
  --font-barlow: 'Barlow', sans-serif;
  --font-barlow-condensed: 'Barlow Condensed', sans-serif;
  --font-sour-gummy: 'Sour Gummy', sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #efefef;
    --foreground-2nd: #9b9b9b;
    --highlighter: #701a1c;
    --highlight: #ff3b3f;
  }
} */

body {
  scroll-behavior: smooth !important;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-barlow);
}

.dbg {
  border: 1px solid red;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F13751;
    width: 10px;
    border-radius: 10px 0 0 10px;  
}

/* Handle */
.hidden-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    width: 0px;
    border-radius: 10px 0 0 10px;  
}

.perspective {
  perspective: 1000px;
}

.input {
  border: 2px solid transparent;
  width: 100%;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 0.375rem;
  transition: border 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}