@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --highlighter: #f15a6e;
  --highlight: #F13751;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.dbg {
  border: 1px solid red;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F13751;
    width: 10px;
    border-radius: 10px 0 0 10px;  
}

/* Handle */
.hidden-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    width: 0px;
    border-radius: 10px 0 0 10px;  
}

.perspective {
  perspective: 1000px;
}